.backgroundIndex{
	background-image: url("images/redDice.jpg");
	background-repeat: no-repeat;
	background-position: relative;
	background-size: cover;
}

button{
	display: block;
	margin: auto;
    font-size: 24px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    background-color: yellow;
    border-radius: 8px;
}

button:hover{
	background-color: #3e8e41
}

button:active{
	transform: translateY(4px);
}