.backgroundIndex{
	background-image: url("redDice.jpg");
	background-repeat: no-repeat;
	background-position: relative;
	background-size: cover;
}

button{
	display: block;
	margin: auto;
	width: 10%;
}